---
import { CustomToaster } from '../components/react/CustomToaster'
import Footer from '../components/astro/Footer.astro'
import { ContactFormModal } from '../components/react/ContactFormModal'
import Header from '../components/react/Header'
import '../styles/global.css'
import fontBarlow400 from '/fonts/barlow-condensed/barlow-condensed-latin-400-normal.woff2?url'
import fontBarlow700 from '/fonts/barlow-condensed/barlow-condensed-latin-700-normal.woff2?url'

export interface Props {
  title?: string
  description?: string
}

const {
  title = 'Driven Stage Detailing - Taller de Tuning Profesional',
  description = 'Especialistas en tuning, detailing y modificaciones automotrices. Transforma tu vehículo con nuestros servicios profesionales.',
} = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link
      rel='preload'
      as='font'
      type='font/woff2'
      href={fontBarlow400}
      crossorigin='anonymous'
    />
    <link
      rel='preload'
      as='font'
      type='font/woff2'
      href={fontBarlow700}
      crossorigin='anonymous'
    />

    <meta name='description' content={description} />
    <meta
      name='keywords'
      content='tuning, detailing, modificaciones automotrices, taller, personalización, performance'
    />

    <!-- Open Graph / Facebook -->
    <meta property='og:type' content='website' />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />

    <!-- Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:title' content={title} />
    <meta property='twitter:description' content={description} />

    <!-- Fonts -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap'
      rel='stylesheet'
    />

    <title>{title}</title>
  </head>
  <body class='antialiased font-inter'>
    <Header client:load />
    <ContactFormModal client:load />
    <CustomToaster client:load />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
</style>
